In [3]:
print("Sept-19")

Sept-19

In [31]:
print("Break statement : ")
num=int(input("Enter the number : "))
for i in range(num,num*10+num,num):
    if i >= 100:
        break
    print(i)

Break statement :

Enter the number :  12

12
24
36
48
60
72
84
96

In [45]:
print("Continue Statement : ")

for i in range(5,30):
    if i >= 11 and i <=27:
        continue
    print(i)

Continue Statement :
5
6
7
8
9
10
28
29

In [51]:
print("pass Statement :")
print("use when we dont want to write what is in the condition and we dont have any type of syntex error : ")

for i in range(1,15+1):
    if i==10:
        pass
    print(i)

pass Statement :
use when we dont want to write what is in the condition and we dont have any type of syntex error :
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [55]:
print("String Indexing :")

word="Python"
print(word[-1]) # printing last char

print(word[2]) # printing 2nd char // Starting from 0 mean print == t

String Indexing :
n
t

In [71]:
print("String Slicing : ")

word="Govind"
print(word[::-1]) # reverse string

print(word[:2]) # starting default 0 upto 2 not including 2

print(word[2:]) # starting from 2 up to end

print(word[0::2]) # starting from 0 upto end with the gap of 2

String Slicing :
dnivoG
Go
vind
Gvn

In [95]:
print("String Methods : ")

word="Hello Govind"

print(word.upper()) # Upper case
print(word.lower()) # lower case
print(word.title()) # Every word First letter capital
print(word.capitalize()) # only first letter of the sentence is capital
print(word.strip()) # remove extra spaces
print(word.replace("Govind","World")) # word ko replace krr dega
print(word.count("l")) # Word Char count karke bta dega
print(word.find("G")) # char word find krr ke index bta dega

String Methods :
HELLO GOVIND
hello govind
Hello Govind
Hello govind
Hello Govind
Hello World
2
6

In [99]:
print("String Formating :")

name="Govind"
age=21

print(f"Hello my name is {name},and i am {age} years old.")

String Formating :
Hello my name is Govind,and i am 21 years old.

In [107]:
print("chatgpt Questions : ")

print("1).")

for i in range(1,20+1):
    if i == 10:
        break
    print(i)

chatgpt Questions :
1).
1
2
3
4
5
6
7
8
9

In [109]:
print("2).")

for i in range(1,10):
    if i == 5:
        continue
    print(i)

2).
1
2
3
4
6
7
8
9

In [119]:
print("3).")
List=[10,20,30,40,50]
for i in List:
    if i==30:
        break
    print(i)

3).
10
20

In [121]:
print("4).")

for i in range(1,10+1):
    if i % 2 != 0:
        continue
    print(i)

4).
2
4
6
8
10

In [123]:
print("5).")

for i in range(1,15+1):
    if i == 7:
        pass
    print(i)

5).
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [147]:
print("String :")
print("1).")

name="GovindGadekar"

print(name[:6])
print(name[6:])
print(name[::-1])

word=" Hello World "
print(word.strip())
print(word.upper())
print(word.replace("World","Python"))

Str="Python Programming"
print(Str.title())
print(Str.count("P"))
print(Str.index("gram"))

Uname="Govind"
Uage=21

print(f"Hello friends My name is {Uname},and I am {Uage} years old")

m="malayalam"

rev=m[::-1]

if m == rev:
    print("Palandrome ")
else:
    print("Not Palandrome ")

String :
1).
Govind
Gadekar
rakedaGdnivoG
Hello World
 HELLO WORLD
 Hello Python
Python Programming
2
10
Hello friends My name is Govind,and I am 21 years old
Palandrome